{% extends "base.html" %}
{%load search_extras%}
{%load topic_extras%}
{% block content %}

<div class = "container">
	<h1> Class Detail </h1>
		<div class="well">{{class.dept_course}}</div>
		<table class = "table table-stripped">
			<th>
				<a  class="clickable" data-toggle="collapse" data-target="#books" font-size = 15 > 
			  		<font size= "4" color="black" "> Associated Books </font size> 
			  	</a>
			</th>
		
			<th>
				<a class = "clickable" data-toggle = "collapse" data-target="#topics_toc" font-size = 15>
					<font size= "4" color="black" "> Associated Topics(Table of contents) </font size> 
				</a>
			</th>

			<th>
				<a class = "clickable" data-toggle = "collapse" data-target="#topics_descript" font-size = 15>
					<font size= "4" color="black" "> Associated Topics(Descriptions) </font size> 
				</a>
			</th>

		</table>
		
		<div id = "books" class="collapse">
		  		<ul class = "list-group">
			  		{% for book in books %}
						<li class = "list-group-item"><a href = "{%url 'book_detail' book_id=book.id%}">{{book.title}}  </a></li>
			  		{% empty %}
			  			<li class = "list-group-item"> Error! No books found associated to this class </li>
			  		{% endfor %}
				
				</ul>
		</div>

		<div id = "topics_toc" class="collapse">
		  		<ul class = "list-group">
			  		{% for topic in topics_toc %}
						<li class = "list-group-item"><a href = "{%url 'toc_topic_detail' topic_id=topic.topic_id%}">{{topic.topic_words}} ({{topic.topic_distribution}}) -- {{topic.title}} </a></li>
			  		{% empty %}
			  			<li class = "list-group-item"> Error! No books found associated to this class </li>
			  		{% endfor %}
				
				</ul>
		</div>


		<div id = "topics_descript" class="collapse">
		  		<ul class = "list-group">
			  		{% for topic in topics_descript %}
						<li class = "list-group-item"><a href = "{%url 'descript_topic_detail' topic_id=topic.topic_id%}">{{topic.topic_words}} ({{topic.topic_distribution}}) -- {{topic.title}} </a></li>
			  		{% empty %}
			  			<li class = "list-group-item"> Error! No books found associated to this class </li>
			  		{% endfor %}
				
				</ul>
		</div>



</div>
{% endblock %}
