{% extends "base.html" %}
{% load topic_extras %}
{% load search_extras %}

<head> 
	<title> Book to Topics </title>
</head>

{% block content %}
<div class="container">
	<ul class = "list-group">
		{% for class in classes %}
		<li class="list-group-item">
			<a class = "clickable" data-toggle="collapse" data-target = "#{{class.id}}">
				<i class ="fa fa-caret-right"></i>
				{{class.dept_course}}
			</a>
		</li>
		<div id = "{{class.id}}" class="collapse"">
			<ul class = "list-group">
				{% with class|get_associated_books as books %}
				{% for book in books %}
				{% with class.id|add_counter as counter %}
				<div class="panel panel-default">
					<li class="list-group-item">
						<a class = "clickable" data-toggle="collapse" data-target = "#{{counter}}">
							<i class ="fa fa-caret-right"></i>
							{{ book | get_book_title }}	
						</a> 
					</li>

					<div id = "{{counter}}" class = "collapse">
						<table class = "table table-stripped">
							<tr>
								<th> 
									Topics by Description 				
								</th>
								<th>
									Topics by Table of Contents			
								</th>
							</tr>
							<tr>
								<td>
									<ul class= "list-group">
										{% with book|get_descript_topics:descript_books as topics %}
										{% for topic in topics %}
										<li class = "list-group-item"><a href="descript-topic-detail/{{topic.topic_id}}">	{{topic.topic_words}} ({{topic.topic_distribution}})</li>
											{% empty %}
											<li class = "list-group-item disabled"> Description of book not found </li>
											{% endfor %}
											{% endwith %}
										</ul>
									</td>

									<td>
										<ul class ="list-group">
											{% with book|get_toc_topics:toc_books as topics %}
											{% for topic in topics %}
											<li class = "list-group-item"><a href="toc-topic-detail/{{topic.topic_id}}"> {{topic.topic_words}} ({{topic.topic_distribution}})</li>
												{% empty %}
												<li class = "list-group-item disabled"> Description of book not found </li>
												{% endfor %}
												{% endwith %}
											</ul>
										</td>

									</tr>
								</table>
							</div>
							{% endwith %}
						</div>
						{% endfor %}
						{% endwith %}
					</ul>
				</div>
				{% endfor %}
			</ul>
		</div>

		{% endblock %}