{% extends "base.html" %}
{% load topic_extras %}
<head> 
	<title> Topic to Books </title>
</head>
{% block content %}
<div class="container">  
	<h2>Topics avaliable</h2>

  			<ul class = "list-group">
				{% for topic in topics %}
					{% regroup topic|load_books:books by topic.book_count as book_list %}

						<li class = "list-group-item">
						<a  class="clickable" data-toggle="collapse" data-target="#{{topic.id}}" ><i class ="fa fa-caret-right"></i> {{ topic.topic_words}}
						</a> 

						<span class="badge"> {{ topic.book_count }} 
						</span>  			
  						</li>

						<div id = "{{topic.id}}" class="collapse">
						<ul class ="list-group">
						{%  for book in book_list %}
								{% for specific_book in book.list%}
										{% if specific_book != 'Not found' %}
										<li class = "list-group-item"><a href="{% url 'book_detail' book_id=specific_book.id%}">{{ specific_book.title }} : ({{specific_book.topic_distribution}}) </li>
										{% else %}
											<li class = "list-group-item"> No Books were found for this topic </li>
										{% endif %}
									

								{% endfor %}
						{% endfor %}
						</ul>
    			</div>

			{% endfor %}
		</ul>
	</div>

{% endblock %}